[2015-10-27 08:48] rtsao opened #1 "extension syntax alternatives"
The optional extension syntactic sugar could trivially be switched to something like below (à la CSS Modules):

[code]

Current syntax:
[code]
Current syntax pros:
- Mimics "conventional" class inheritance syntax, including ES6 classes
- Clear separation from actual CSS properties and class composition

Current syntax cons:
- "Graceful degradation" as a plain CSS string fails badly (original selec

[2015-11-06 01:36] rtsao opened #2 "Browserify plugin for bundling generated css into external stylesheet"

[2016-01-08 18:43] scott113341 opened #3 "Make git tags for alpha.3 and alpha.4"
Just so they show up in [releases](https://github.com/rtsao/csjs/releases)

[2016-01-08 22:38] rtsao commented on #3
They were created, I just need to push them.

[2016-01-08 22:39] rtsao commented on #3
Pushed. Thanks!

[2016-01-08 22:39] #3 closed

[2016-01-08 22:39] scott113341 commented on #3
:+1:

[2016-01-08 22:41] rtsao opened #5 "Sauce Labs tests not working with Travis CI PR builds"
See:
* https://github.com/rtsao/csjs/pull/4
* https://travis-ci.org/rtsao/csjs/builds/101164344

[2016-01-08 22:49] rtsao opened #6 "Docs improvements"
- [x] Improve examples
 - [x] Better readability and conciseness
 - [x] More practical/realistic examples
 - [x] Codepen/JSFiddle versions
- [x] Better explanations of optional tooling
 - [x] Differences between runtime and buildtime injection
 - [x] Buildtime css extraction

[2016-01-08 23:00] rtsao opened #7 "Refactor tests"
Just need to copy this setup probably https://github.com/rtsao/scope-styles/tree/master/test

[2016-01-13 04:20] scott113341 opened #8 "Incorrect output when property values contain periods"
Example:

[code]

This is an issue with [`var classRegex = /(\.)([^\s\.,{\[>+~#:]*)/g;`](https://github.com/rtsao/csjs/blob/e0b57aa6ac5914045449faa6c4d0fc2bbfe6027c/lib/scopeify.js#L5) because it performs a global search.  Something like `/^\s*(\.)([^\s\.,{\[>+~#:]*)/` could work, but ONLY if input is split into nice lines before replacing.  Example:

[code]

[2016-01-14 07:21] #8 closed

[2016-01-15 05:42] rtsao opened #11 "unscoped option"
Perhaps something like:
[code]

[2016-01-15 06:58] rtsao commented on #7
https://github.com/rtsao/csjs/commit/dda6f11f5318686de05baedb3dc233ca3672ef78

[2016-01-15 06:58] #7 closed

[2016-01-28 23:08] rtsao opened #12 "benchmark tooling + profiling"
Some sample cases and benchmark tooling will make identifying performance improvements easier.

[2016-02-02 01:50] rtsao opened #13 "extending an extended class yields broken behavior"
For example:

[code]

and

[code]

don't work quite right.

However, the following works correctly (already tested in https://github.com/rtsao/csjs/blob/master/test/multiple-extensions.source.js):
[code]

[2016-02-03 06:31] #13 closed

[2016-02-05 05:41] serapath opened #15 "autoprefixer?"
**tl;dr** are there plans to support autoprefixer or do you suggest a seperate module that can be combined with `csjs` to achieve this?

Maybe there is a smart way to just add the vendor prefixes necessary by the current browser. I bookmarked two related projects:
- https://github.com/LeaVerou/prefixfree
- https://github.com/jsstyles/css-vendor

---

Wow, I just revisted https://github.com/Michele

[2016-02-05 10:51] rtsao commented on #15
Yes, I agree that automatic vendor prefixing would be really nice.

It looks like https://leaverou.github.io/prefixfree/ should work with CSJS and `insert-css` (although I have yet to test it out).

The way I've thought about accomplishing vendor prefixes is to create tooling that can extract a CSS bundle at build time (e.g. a browserify/webpack/babel plugin). These plugins would work if you are u

[2016-02-12 02:09] rtsao commented on #2
Basic initial implementation: https://github.com/rtsao/csjs-extractify

[2016-02-12 02:09] #2 closed

[2016-02-12 09:16] scott113341 commented on #5
:+1:

[2016-02-16 04:18] JaapRood commented on #1
Would be an option to support both? I'm looking into `csjs` basically because I want to prevent the build step CSS Modules requires, mainly to keep a simple project simple as it can be. Interoperability between the two, by supporting the same class composing syntax, would be great.

[2016-02-16 08:12] #5 closed

[2016-02-21 08:02] rtsao commented on #15
@serapath I have just finished the initial version of https://github.com/rtsao/babel-plugin-csjs-postcss which I described above (as the last possibility).

[2016-02-22 22:18] serapath commented on #15
I feel, a huge advantage of the css-in-js approach is to dynamically change css based on user interactions. The css generated, once generated client side, can be cached to avoid to generate it again every time a user visits the page.
But the wins that seem to be only accomplishable with css-in-js are to actually auto-prefix only what's necessary with the current browser environment of a specific u

[2016-02-22 22:40] rtsao commented on #15
Yeah, the Babel plugin only works when the properties/values that need be prefixed are known at build-time (however everything else can be dynamic).This works in the use case where CSJS is treated as if it were "CSS Modules", where styles are mostly static, and JS is used for modules, variables, and dependency management.

Ideally, I think vendor prefixing would fully work in the browser by the cl

[2016-02-23 10:13] #6 closed

[2016-03-02 12:03] bokuweb opened #22 "How should I write to apply multiple classname?"
How should I write to apply multiple classname?
I want to apply multi classname to single element.

- style.js
[code]

- app.js
[code]

[2016-03-02 15:58] rtsao commented on #22
You have a couple options.

The most idiomatic "CSS Modules" approach would to create a single class that is a composition of everything you would want to apply to a given element. Since there's scoping, you can create lots of classes without worrying about name collisions.

For example:
[code]

[code]

Alternatively, you can use something like the https://github.com/JedWatson/classnames module to

[2016-03-04 22:44] bokuweb commented on #22
@rtsao Thank you for answering!!
`csjs` is a cool!!

[2016-03-04 22:44] #22 closed

[2016-03-16 20:53] knownasilya opened #24 "Parent class"
Something like:

[code]

Where all of the styles inside are nested under this parent, making this much more useful for
components since a component usually has a parent class.

Although, looking back, it wouldn't be as verbose or clear as the current approach. Guess I could use postcss for nesting.

[2016-03-18 18:40] rtsao commented on #1
For the sake of simplicity, I think I would prefer to stick to one syntax. The current syntax is simpler to handle in terms of parsing, which is nice. A CSS Modules composition syntax to CSJS extension syntax transform could probably be implemented with https://github.com/rtsao/babel-plugin-csjs-postcss and a PostCSS plugin without too much difficulty.

[2016-03-18 18:40] #1 closed

[2016-03-24 03:44] maxogden opened #25 "single class mode"
I thought it would be cool if you could do this syntax:

https://github.com/substack/meowave/blob/894e01d75da152d72f96e222a0b4f0f848364184/main.js#L42-L48

but instead of having to do inline styles, csjs would give you a unique classname that you could set.

the idea is to be able to style a single class in a template string, similar to the simplicity of `module.exports = function () {}`

[2016-03-24 03:47] maxogden opened #26 "module that works in electron and browser"
hey, i'm using this in an electron app but want to write components that work in both electron and the browser

given code like this:

[code]

in electron, since no bundling is required, `csjs-inject` is the only way to use csjs. but in a browser I would want to change it to use `csjs` instead. maybe if you use the `browser` field of package.json and override csjs-inject with a no-op if it's being

[2016-03-24 06:12] rtsao commented on #25
This is a neat idea!

So something like:

[code]

One thing to keep in mind is the ability to compose classes in a CSS Modules-like manner. I think ideally this feature cold be preserved in single-class mode. What immediately comes to mind is something like this:

[code]

Is that something you think would be useful? Of course there would be interop with normal csjs styles, for example:

[code]

[2016-03-24 06:30] rtsao commented on #26
In your browser use case, how is the CSS getting added to the page? If I understand correctly, it sounds like with electron you want to rely on the injection provided by `csjs-inject` but don't want that with browserify -- presumably because there's some alternate method the CSS is getting added?

[2016-03-24 06:45] rtsao commented on #24
I think in a "scoped CSS" world, using descendent/child selectors is often discouraged because it unnecessarily introduces coupling between styles and DOM structure, which potentially makes your styles less flexible and reusable.

Since each class is scoped, a "parent" class isn't really necessary. But you're right, you can definitely use https://github.com/postcss/postcss-nested, but I guess I'm

[2016-03-24 12:39] knownasilya commented on #24
Thanks for the link. I'm going to close this, since it was more of a thought exercise. Great module :+1:

[2016-03-24 12:40] #24 closed

[2016-03-24 19:32] maxogden commented on #26
I guess it makes more sense to describe the use cases as bundling vs not bundling. If I'm creating a bundle with browserify I would use something like csjs-injectify or csjs-extractify at bundle time, so I would want the `csjs-inject` code to *not* happen in that case. But when I am not bundling (e.g. in electron, or maybe just doing a small browser based demo that doesnt bundle), then I *do* want

[2016-03-24 19:42] maxogden commented on #25
that looks pretty good. cc @shama.

would this be valid?

[code]

[2016-04-02 01:29] rtsao commented on #26
Ah, I see. Running non-bundled code inside electron was not a use case I had thought of initially (I was only thinking of server-side node and bundled code inside browsers/electron).

I wonder if maybe something like this would work:

[code]

where the package.json of `csjs-inject` contains:

[code]

[2016-04-05 07:17] bigopon opened #27 "generate duplicate styling code"
Hi,

When I use csjs on
[code]
I get the result
[code]

I'm not sure if it's only me.

[2016-04-05 16:16] rtsao commented on #27
I'm not quite sure what the issue is, that's just how Babel transpiles tagged template strings. For example: https://babeljs.io/repl/#?evaluate=true&presets=es2015&experimental=true&loose=false&spec=false&playground=false&code=function%20foo()%20%7B%0A%20%20console.log(arguments)%3B%0A%7D%0A%0Avar%20bar%20%3D%20foo%60hello%20world%60%3B

[2016-04-06 00:20] bigopon commented on #27
Ok thanks then. I'll close this

[2016-04-06 00:20] #27 closed

[2016-04-10 16:56] edlefebvre opened #28 "Format / expand CSS?"
With CSJS syntax, how do you use tools such as emmet to expand your CSS code?

Do you use something in particular?

[2016-04-10 18:42] scott113341 commented on #28
Hi @edlefebvre, this will depend on the IDE you're using.  Personally, I use WebStorm for development, and I've found that Language Injections work quite nicely to support this exact behavior.  Let's say I have this:

![image](https://cloud.githubusercontent.com/assets/1910118/14412137/40aa229c-ff10-11e5-819b-5c285bee3b5f.png)

If I put my cursor in the middle of the template string and press `Opt

[2016-04-10 19:57] edlefebvre commented on #28
Neat!

Thank you for this detailed answer @scott113341 . I use Atom right now and I'm not sure I can have the same behaviour out of the box. At least I know it is possible with webStorm ;)

[2016-04-11 20:51] rtsao commented on #28
@scott113341 That's cool.

I typically just write plain CSS directly. I'll use autoprefixer (which can be used with https://github.com/rtsao/babel-plugin-csjs-postcss) to avoid needing to deal with vendor prefixes, but otherwise I don't find writing plain CSS to be too onerous. I try and approach UI and styles with componentization abstraction and modularity in mind, so usually the CSS within a gi

[2016-04-17 01:30] SilentCicero commented on #11
How hard would it be to build this? @rtsao If not, would there be an easy hacky way?

[2016-04-17 01:33] SilentCicero opened #29 "csjs-loader : webpack loader support"
I've been studying the csjs-extractify, but I don't know how I could approach it with the webpack loader model.

Thoughts? @rtsao

[2016-04-17 01:37] SilentCicero opened #30 "csjs.getAllCss : return all CSS by csjs"
So It would be really great if I could just export all the CSS for the entire app.

Not sure if this is the right approach, but a getAllCss would be awesome.

[2016-04-17 01:51] rtsao commented on #30
To do that, csjs would need to be some sort of stateful singleton. I've actually started working on a similar idea as part of a better server-rendering, CSS extraction solution that doesn't have any hard tooling requirements (e.g. a browserify transform or webpack loader).

https://github.com/rtsao/styletron
https://github.com/rtsao/styletron-server

Essentially, all that needs to be done is to cr

[2016-04-17 02:01] rtsao commented on #11
This wouldn't be too hard, essentially we'd just need to skip the code path that adds hashes to the class names (in https://github.com/rtsao/csjs/blob/master/lib/scopeify.js) and instead use the original class names.

[2016-04-17 11:45] codrin-iftimie commented on #29
I've tried making such a loader. I even made it work with [extract-text-webpack-plugin](https://github.com/webpack/extract-text-webpack-plugin). Mostly the code you need is
[code]
The problem is that you'd be interpreting all `.csjs.js` files, through `css!csjs!babel`. This disables the compose feature:

[code]
@rtsao Does this work well with csjs-extractify?

[2016-04-17 15:49] SilentCicero commented on #11
https://github.com/rtsao/csjs/pull/31 - gave it a go

[2016-04-17 15:50] SilentCicero commented on #30
@rtsao this is similar to what I was looking for. But my main concern was actually browser side.

If I have all my csjs requiring through to a single app component. I'd love to be able to go csjs.getAllCss, and return the cumulative css of all used csjs in the single bundle.js browser based app.

Just not sure how feasible this is, especially if I include modules that use their own csjs modules th

[2016-04-18 02:17] SilentCicero commented on #29
@codrin-iftimie why does this disable the compose feature?

And can you provide the code you used for webpack for extract-text? Would like to take a look.

[2016-04-18 07:40] codrin-iftimie commented on #29
I've created a (gist)[https://gist.github.com/codrin-iftimie/65e8c37e8dbea7f9af5a09549156825d].
When importing a `csjs.js` file inside another file it gets translated into css.
The import becomes `undefined`, so when you are extending the imported styles you are calling a `undefined['simple-button']`.

[2016-04-22 18:49] rtsao commented on #30
`csjs-bootstrap` would be totally awesome! So just rendering-library agnostic colleciton of `csjs` styles?

Is it important for you to be able to extract static CSS at build-time? If not, `styletron` is also designed work fully client-side. So all the cumulative css is automatically inserted into the page by the client. The ability extract CSS when doing server rendering is just sugar on top ;)

[2016-04-23 02:20] SilentCicero commented on #30
@rtsao yep, I'm building it with yoyo right now: https://github.com/SilentCicero/yoyo-bootstrap

The css I hope to ship with csjs. Right now it's just css includes.

Just working out the specifics with yoyo/dom manipulation. A lot to learn about the dom... =D

[2016-04-29 08:04] kof opened #32 "JSS as a compilation target"
Hi, I think it would make sense for this project and for jss.  I have also created issue about it some time ago https://github.com/jsstyles/jss/issues/220

I think csjs should should focus compilation of tagged string template to json. And give rendering away to jss.

[2016-05-04 08:07] sambs opened #34 "Extends syntax conflicts with selector grouping"
I love how standard css seems to "just work" with csjs but I've noticed an ambiguity surrounding the extends syntax and css selector grouping, due to the use of commas to separate both selectors and extend targets.

[code]

[2016-05-04 17:26] rtsao commented on #34
If I'm understanding you correctly, in the latter case you are hoping for something like below?:

[code]

[code]

Where `.styleA` is a composition of `.baseStyle` and `{background: red}`, but `.styleB` is *only* `{background: red}`.

Currently, only selectors with a single class selector can extend another class, and all selectors following an `extends` is greedily treated as part of the extends.

[2016-05-04 20:26] neurosnap opened #35 "Syntax Highlighting"
Any thoughts on syntax highlighting?

[2016-05-04 20:45] rtsao commented on #35
@scott113341 posted a cool way to get CSS syntax highlighting with WebStorm/IntelliJ IDE:
https://github.com/rtsao/csjs/issues/28#issuecomment-208042089

Other than that, it'd be cool for some generic way to get syntax highlighting within template strings. For example HTML syntax highlighting with https://github.com/substack/hyperx or CSS within CSJS. But at this time I'm not aware of any way to d

[2016-05-04 22:10] sambs commented on #34
Sorry, I could've been clearer but you've got it. It's certainly something you can work around once you understand it but it seems like a tweak in syntax could remove the ambiguity. One option would be parentheses:

[code]

Or perhaps the comma between selectors isn't necessary at all?

[code]

[2016-05-04 22:45] sambs commented on #34
Ambiguity isn't the right word, it's more about intuition - being able to guess the result of the syntax without looking it up in the docs or trying it out.

On futher thought, my second suggestion of dropping the commas makes `.styleA` look like it extends a descendent selector `.base1 .base` . Parentheses seem like a better choice and could be optional and therefore non-breaking.

[2016-05-04 22:52] rtsao commented on #34
Cool, I had originally thought of using parens but determined they weren't necessary -- but I hadn't considered the use case you brought up.

You make a good point about intuitiveness/clarity of developer intent vs ambiguity! I'll look into implementing optional parens syntax. I suspect it should be pretty straightforward. But PRs would be accepted!

[2016-05-04 23:59] neurosnap commented on #35
I decided to take a stab at some meager syntax highlighting support for Atom.  I'm happy to announce it was easier than anticipated.

This Atom package basically provides default javascript support with css syntax highlighting for anything inside the tagged string template csjs\`\`.

Lemme know what you think!

https://github.com/neurosnap/language-csjs
https://atom.io/packages/language-csjs

[2016-05-05 08:22] sambs commented on #34
Great! I can take a look at the tests.

I've realised parens couldn't really be optional. They needn't be required when extending from a single rule but would be when extending from many else we're back to the current situation.

[2016-05-05 19:45] rtsao commented on #35
Wow, that is super awesome! I'll have to try it out (and add it to the docs)

[2016-05-06 17:17] mkazlauskas opened #36 "Performance of "extends" regex"
Current way of parsing extends is way too slow. It takes up most of my (small) app's load time. Here is a [screenshot](https://i.imgur.com/2sXO3qZ.png) from Chrome's Timeline. Looks like it takes 95%+ of the whole script eval.

Wrapping regex parse in
[code]
reduced page load time by about **1.3 seconds**. I tried removing every single `extends` from my scss, it doesn't really matter, the pattern

[2016-05-06 18:26] rtsao commented on #36
Wow, that's pretty extreme. How large is the CSJS template string you are using?

I haven't really done any benchmarking yet so I'm sure I there's lots of room for optimization. The current implementation is **very** simple.

[2016-05-06 18:58] mkazlauskas commented on #36
I have about 15 calls to `csjs` with average of about 20 lines per each.

I'm trying to improve regex. This seems to work much, much faster: `\.([^\s]+)(\s+)(extends\s+)((?:\.[^{]+))`

It parses some whitespace differently but so far it seems to be working in the same way. Didn't have time to get into actual code or test if it works with every `extends` in my app. Let me know if you can identify a

[2016-05-09 16:39] mkazlauskas commented on #29
I'm doing it using a little different approach. To be compatible with css modules, I'm setting `locals` to the loader exports object. This way I can use `style-loader` out of the box to add css to page and re-export locals object. So I simply do:

*styles.csjs.js*
[code]

*app.js*
[code]

*webpack.config.js*
[code]

*`csjs` loader*:
[code]

I still didn't figure out how to enable sourcemaps using

[2016-05-10 02:26] SilentCicero commented on #29
interesting, yes more thought is needed @mkazlauskas

[2016-05-10 13:17] mkazlauskas commented on #29
@SilentCicero I updated my previous comment, added support to pipe plain css files over csjs loader. This way we can keep external classes of dependencies scoped.

[2016-05-11 01:38] rtsao commented on #36
I think there's some easy (and possibly really big) performance wins by doing a bit of simple lexical analysis (i.e. splitting the CSS into tokens). That should allow for simpler regex.

But first I'm going to set up some benchmarking tooling: https://github.com/rtsao/csjs/issues/12

[2016-05-17 03:40] #36 closed

[2016-05-17 03:46] rtsao opened #39 "Performance optimization"
Related issue: https://github.com/rtsao/csjs/issues/12 (benchmarks)

Some ideas:
- [ ] rudimentary lexical analysis (simple comment tokenization) to eliminate need for `ignoreComments` regex

[2016-05-17 03:46] rtsao commented on #36
I've created an issue for general performance optimization here: https://github.com/rtsao/csjs/issues/39

[2016-06-01 18:06] contra opened #40 "loading fonts?"
How would this work with csjs/csjs-inject? Doesn't look like anyone has tried this yet.

[2016-06-02 06:02] rtsao commented on #40
`@font-face` should work normally as it would in CSS, but I think maybe you're getting at a couple of things:

1) Flash of unstyled text
This is basically unavoidable with csjs-inject. If your styles are known at build-time, one option is to use csjs-extractify and serve up plain CSS. Alternatively, you could use [csjs-styletron](https://github.com/rtsao/csjs-styletron) which is essentially a bett

[2016-06-02 18:24] contra commented on #40
Thanks for the info! I'm sure people will find this useful.

[2016-06-02 18:24] #40 closed

[2016-06-10 13:26] bokuweb opened #42 ":not(selector) expand error?"
Hi.I wrote the following style with csjs v.1.0.3

[code]
But it is expanded as follows

[code]

[2016-06-10 16:49] rtsao commented on #42
So aside from the incorrect appending of hash outside the parens, is the `.is_desktop` class meant to be a global (unscoped)?

[2016-06-10 23:13] bokuweb commented on #42
`.is-desktop` is scoped.

[code]

[2016-06-12 04:45] #42 closed

[2016-06-12 04:47] rtsao commented on #42
Fixed in `v1.0.4`. Thanks for the bug report!

[2016-06-12 05:05] bokuweb commented on #42
wow!! thanks!!!

[2016-06-21 04:20] kompot opened #45 "Vote for adding support in IntelliJ IDEA"
Hi guys,
thanks for a finally nice approach to CSS-in-JS.

I've created an issue to add improved tagged literal injected language support to IntelliJ IDEA.
Please vote there
https://youtrack.jetbrains.com/issue/WEB-22106
if you'd like to get it done.

Feel free to delete this issue if it bothers your flow.

Thanks.

[2016-06-21 04:29] scott113341 commented on #45
Hey @kompot, check out this [comment](https://github.com/rtsao/csjs/issues/28#issuecomment-208042089) for usage in IntelliJ.

I wonder why the template literals are getting parsed as HTML by default for you.  When I use WebStorm, they are just interpreted as strings until I use the method above to Language Inject CSS.

Let me know if this helps!  Though it would be totally cool if csjs could be au

[2016-06-21 04:32] scott113341 commented on #12
WIP benchmark suite for the interested.  I'll update once it's ready for usage.

https://github.com/scott113341/csjs-benchmarks

[2016-06-21 05:14] kompot commented on #45
@scott113341 Thanks, I've actually managed to go a bit further and found a way to inject CSS language permanently by using language injection preferences dialog in IDEA and using this pattern.

[code]

But IDEA still does not parse references to variables within CSS. But does that successfully for default template literals assuming it contains plain HTML. So that issue I refer to seems like just a

[2016-06-21 05:25] scott113341 commented on #45
Ok, so you are miles ahead of me!  Thanks for that pattern, that totally did the trick (minus variable interpolation)!  I voted for the issue on their tracker; hopefully that is an easy fix for them.

[2016-06-21 05:40] scott113341 commented on #28
Update for IntelliJ platforms! @kompot figured out how to automatically inject csjs [here](https://github.com/rtsao/csjs/issues/45#issuecomment-227342501) 👍  Here's a quick how-to:

Open up **Preferences** > **Editor** > **Language Injections**

Click the little plus button and choose **Generic Js**

![image](https://cloud.githubusercontent.com/assets/1910118/16218882/94f9cc5e-3736-11e6-95ee-f7362

[2016-06-26 18:17] neurosnap commented on #35
I wanted to also add that I managed to get autocomplete support for CSJS files in Atom as well.  It is a separate package:

* https://github.com/neurosnap/autocomplete-csjs
* https://atom.io/packages/autocomplete-csjs

Syntax highlighting works with javascript expressions now as well:

* https://github.com/neurosnap/language-csjs/pull/3

To clarify, this will only work when the language selected f

[2016-06-27 13:14] giuseppeg commented on #39
@rtsao maybe something like [this](http://codepen.io/giuseppegurgone/pen/RRpbBP?editors=0010) ?

[2016-06-29 14:15] knownasilya opened #46 "Using with browserify+babelify doesn't add styles"
I also tried `csjs-extractify` but it creates a blank CSS file. Is there a way to get it to work?

[2016-06-29 17:37] rtsao commented on #46
`csjs-extractify` needs to run before `babelify`. I suspect this is what is happening:

[code]

is being turned into:
[code]

Which csjs-extractify won't recognize.

[2016-06-29 17:42] knownasilya commented on #46
Thanks! Will give it a try!

[2016-07-01 11:19] avesus opened #48 "Support for more browsers"
`Object.assign()` is not supported even in IE11 and in iOS 7 and 8 (I know they are very buggy but they exist yet).
https://github.com/rtsao/csjs/blob/695d7820f61e7c6bae6b264f8bde3b8e444289dc/lib/csjs.js#L27

Please, rewrite that into something more supported.

[2016-07-01 13:56] neurosnap commented on #48
Implementing a polyfill would be trivial without including external dependencies, but since it is only used once, there might be a more specific alternative to using `Object.assign`.

https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object/assign#Polyfill

[2016-07-01 16:15] scott113341 commented on #48
Thanks for pointing that out, @avesus!  Here's a [compatibility table](http://kangax.github.io/compat-table/es6/#test-Object_static_methods_Object.assign) for `Object.assign`.

[2016-07-01 16:38] rtsao commented on #48
Yeah, I meant to do this earlier but forgot. I'll fix this when I get a chance but a PR would also be happily accepted!

[2016-07-01 18:26] rtsao commented on #48
Closed by #49

[2016-07-01 18:26] #48 closed

[2016-07-06 06:38] scott113341 commented on #36
@mkazlauskas, I'm working on some benchmarking tools right now, would you mind posting some of the rules you were working with when you had the severe performance issues?  Thanks!

[2016-07-07 19:00] avesus commented on #29
That's sounds so amazingly great that we definitely should support source maps generation for `csjs`.

[2016-07-07 19:10] mkazlauskas commented on #36
@scott113341 Sorry I can't provide anything specific since I replaced csjs with css modules. I wish I stayed with csjs though, much more flexible.

It should be fairly easy to reproduce - I don't think I used anything special as my css skills are pretty amateur, just a good number of `extends` rules.

[2016-07-07 19:25] scott113341 commented on #36
Ok, no worries.  Thanks @mkazlauskas, we'll make sure to test `extends`-heavy stylesheets!

[2016-07-23 12:18] ptim commented on #22
@rtsao your answer would make a great wiki / docs page :) thanks

[2016-07-23 15:01] neurosnap commented on #22
https://github.com/rtsao/csjs/wiki/How-to-apply-multiple-classnames-to-an-element

[2016-07-26 02:15] tizmagik opened #50 "react-csjs"
I don't know if this is helpful or not, but in comparing the various CSS in JS techniques, I stumbled across csjs, Aphrodite and JSS. I liked the interface that `react-jss` allows and noticed there wasn't an equivalent HoC for csjs.

So I've written one: [react-csjs](https://github.com/tizmagik/react-csjs).

The initial implementation is admittedly very basic and bare-bones, but it provided enough

[2016-07-26 04:48] tizmagik opened #51 "Get extended(?) CSS?"
I'm not sure if I'm doing something wrong or if this is just expected behavior, but given the following:

[code]

`csjs.getCss(styles);` returns:
[code]

Notice the missing value that we otherwise get from `csjs.getCss(labelBase);`

[code]

I would expect `csjs.getCss(styles)` would return all CSS including those from extended styles. Is there another way to do so, or am I just fundamentally not u

[2016-07-26 05:47] rtsao commented on #50
This is awesome! Cool idea of unmounting styles when the component unmounts. I might need to update docs with an ecosystem section...

[2016-07-26 05:56] rtsao commented on #51
This is currently expected behavior (similar to this issue: https://github.com/rtsao/csjs/issues/30). getCss is just for getting the new CSS contained in that csjs literal so it can be injected. It is assumed that the extended styles were already injected when that csjs literal was evaluated. This makes it fairly easy to ensure you never duplicate the injection of anything. That said, it would be

[2016-07-27 00:28] tizmagik commented on #50
Yea, the only issue is that it doesn't currently include the "extended" styles, which I would expect as a user of `react-csjs` given the API it allows. See https://github.com/rtsao/csjs/issues/51

Any pointers on how to achieve that for `react-csjs`?

[2016-08-12 13:31] neurosnap commented on #11
I'm very interested in being able to customize/remove the scoping from `csjs`.  Where are we at with this idea?

[2016-08-12 23:44] avesus commented on #11
+1: it allows to wrap Bootstrap and use with `style.nav` syntax.

On Friday, August 12, 2016, Eric Bower <notifications@github.com> wrote:

--
Best Regards,
Ivan Borisenko

[2016-08-12 23:56] rtsao commented on #11
@neurosnap What kind of scoping customization are you interested in? A different prefix/or hashing mechanism? Disabling scoping should be very straightforward (probably not to dissimilar to https://github.com/rtsao/csjs/pull/31) but I think customization is probably going to be more difficult to implement and requires a more complex configuration interface.

Since this is seeming like a higher pri

[2016-08-15 04:37] rtsao commented on #11
Added in https://github.com/rtsao/csjs/pull/53

[2016-08-15 04:37] #11 closed

[2016-08-25 20:39] avesus opened #55 "Is it possible to define #id style even if that's considered bad practice?"

[2016-08-25 21:00] rtsao commented on #55
Yep, you can use IDs! However, they won't be scoped (they'll just get passed through to the CSS untouched) Hope that helps 😄

[2016-08-25 21:00] #55 closed

[2016-08-26 02:15] avesus commented on #55
[code]
And so it wasn't work for me... What I miss?

[2016-08-26 02:32] rtsao commented on #55
Ah yes, the ID is never parsed (since it isn't a class), so it isn't scoped and is thus not provided in the returned object (that maps unscoped to scoped).

[code]

Then you can render something like:
[code]

[2016-08-26 14:07] avesus commented on #55
Thank you very much fro the explanation! Great library, I use it in production and it's the only covers all composability patterns I was dreaming about. Very modular.

[2016-08-27 18:35] avesus opened #56 "Cannot use `style.css_class_name` syntax directly with React 15.3.1"
Have to type `style.css_class_name + ''` all the time...

I understand that that's some kind of React's limitations, because the object generated from `csjs` string has `toString()` method and should be treated by React as real string too.

What I doing wrong because I can't find the same issues from other people?

[2016-08-27 23:49] avesus commented on #11
Usage:
[code]

In this way, you even can use 'scoped'-like inheritance from global styles:
[code]

Although, I'm wondering whether it's possible to extend global styles without that scoped referring because otherwise I need to find a way to wrap all bootstrap CSS in the globalCsjs tagged template literal.

[2016-08-30 18:28] avesus commented on #45
+1 For Visual Studio Code too ;-)

[2016-08-30 18:33] avesus opened #57 "Is it possible to use nested SASS/SCSS-like styles?"
Like here: http://www.snaptrax.org/assets/scss/_component-examples.scss

[code]

[2016-08-30 19:12] rtsao commented on #57
Yes, but you'll need Babel to transform it to CSS at build-time. You should be able to use this: https://github.com/rtsao/babel-plugin-csjs-postcss and this: https://github.com/postcss/postcss-nested to get what you need.

[2016-08-30 20:01] avesus commented on #57
Thanks!

[2016-08-30 20:01] #57 closed

[2016-09-14 21:38] avesus opened #58 "How to define complex selectors for global styles?"
Like these:
[code]

when `.active` is in global scope _or_ is an another class defined in the same `csjs` literal or imported from another csjs variable..

[2016-09-15 19:50] neurosnap opened #59 "Dead code elimination"
If we don't use a class, can we eliminate it from the injectify/extractify output?

[2016-09-19 15:15] rtsao commented on #58
If it's defined in the same csjs literal, both instances of `.active` will be scoped to the same value so there's no change needed. If `.active` is from another csjs instance, you can pass it in:

[code]

[2016-09-22 12:40] drcmda opened #60 "Is there any way to compress string literals?"
This project has been perfect so far, i can't believe it solves pretty much all the major issues with React and styles.

The only gripe left is that the minified endbuild has lots of needless holes in it taking space due to the string literals. And since postCSS/cssnano doesn't work with babel-plugin-csjs-postcss there's no obvious solution.

Is there any alternative to compress it?

[2016-09-23 04:48] rtsao commented on #56
I think this is unique to React 15.

You can do `String(style.css_class_name)` if that's more convenient. I might have to have a method on the returned styles object such as `.getClassNames` which returns the string names of the classes as an object literal.

[2016-09-23 06:21] scott113341 commented on #56
@avesus, are you using [react-router-active-component](https://github.com/insin/react-router-active-component) by any chance?  That library is enforcing the `className` prop to be a string, as you can see [here](https://github.com/insin/react-router-active-component/blob/b15f6f3ceaacfdeae6a26226abd3a03c20455161/src/index.js#L34).

However, this is unique to this particular library.  React does not

[2016-09-23 16:23] avesus commented on #56
@scott113341 thanks a lot! I have that problems mostly with that component.

[2016-09-30 07:56] scott113341 commented on #60
Hi @drcmda, I stumbled across [your post](https://www.reddit.com/r/javascript/comments/53yuxk/csjs_solves_reacts_style_issues/?st=itpgpr27&sh=15ba26d9) on Reddit today.  Thanks for taking the time to figure this out!  I will make a PR to add this to the docs.

For quick reference, @drcmda is using the [csswring](https://github.com/hail2u/node-csswring) PostCSS plugin.

[2016-09-30 08:01] #12 closed

[2016-09-30 08:06] rtsao opened #61 "Rule-level syntax/package(s) for buildtime/runtime conversion to style objects"
Related:
- Single class mode https://github.com/rtsao/csjs/issues/25
- JSS https://github.com/rtsao/csjs/issues/32
- (Runtime) vendor prefixing https://github.com/rtsao/csjs/issues/15

[2016-09-30 08:10] rtsao commented on #59
Actually, I think this should be pretty easy to implement as a csjs loader for webpack 2.

[2016-09-30 08:13] rtsao opened #62 "Helper method for getting true string class names"
The `.toString()` technique employed by csjs can be problematic when used in conjunction with React.PropTypes.string.

Rather than requiring string coercion on behalf of the user, a helper method to return an object of true strings may be convenient.

Context: https://github.com/rtsao/csjs/issues/56

[2016-09-30 08:13] rtsao commented on #56
Formalized this here: https://github.com/rtsao/csjs/issues/62

[2016-09-30 08:13] #56 closed

[2016-09-30 08:19] rtsao opened #63 "Document syntax highlighting/IDE integration options"

[2016-09-30 08:22] rtsao opened #64 "Document community packages"
Related:
- https://github.com/rtsao/csjs/issues/50

[2016-09-30 08:24] rtsao commented on #60
I didn't know about csswring, that's great!

[2016-09-30 19:25] scott113341 commented on #62
How about something like this?

[code]

This would come with the disadvantage that all of the `Composition` information is lost in the case of `extends`:

[code]

This could potentially be remedied by checking if string arguments to the csjs template literal match up with existing scoped classes.  However, this is hacky and would probably require namespacing on scoped class names, ie `beans_gdwuK`

[2016-09-30 19:34] scott113341 opened #65 "Linting"
Would it make sense to standardize on a particular code style to make contribution easier?  Here are results from running [semistandard](https://github.com/Flet/semistandard) on `master`.

[code]

[2016-09-30 20:26] rtsao commented on #65
That looks 99% good to me.

The only instances I think I disagree with are:
[code]

I think it seems reasonable to just use eslint directly with `eslint-config-semistandard` as base and possibly a few overrides.

[2016-09-30 22:17] #60 closed

[2016-10-15 20:04] felipeccastro commented on #35
I've noticed that Atom, by default (using dark theme), will use the css syntax if the tag method is called `css`, instead of `csjs`. Unfortunately, even if I create an alias in my code, some plugins (like the babel-plugin-csjs-postcss) are counting on the tag being named csjs.
Is there an easier way to handle this besides forking the plugin?

[2016-10-24 01:06] bcomnes opened #66 "Release noScope?"
Do you have any ideas on when the noScope merge will make it into a release?  Thanks for a great module!

[2016-11-20 10:07] drcmda commented on #66
Same question, npm says 1.0.6 just like on Github but the code is different.

[2016-11-20 18:00] bcomnes commented on #66
On a sidenote, insert-css + vanilla class names seem to fill the gap till this lands.

[2016-11-20 23:29] hareeqi commented on #66
@bcomnes  can you please clarify what you mean  by insert-css + vanilla class

thanks

[2016-11-20 23:31] bcomnes commented on #66
E.G. loading unscoped css during the bundling process somehow (like https://github.com/substack/brfs) and using https://www.npmjs.com/package/insert-css directly.

[2016-11-20 23:33] hareeqi commented on #66
thanks 👍

[2016-11-26 18:33] rtsao commented on #15
My feeling is including a full CSS parser would be too much, so vendor prefixing is either going to be buildtime on template strings, or some process where CSJS is converted to style objects and CSJS becomes an interface for some style object consuming library.

For now, https://github.com/rtsao/babel-plugin-csjs-postcss should work in most cases.

[2016-11-26 18:33] #15 closed

[2016-11-26 18:34] rtsao commented on #34
Closing this for now. I think it's worth investigating syntax in a future version, where maybe we could make a breaking change.

[2016-11-26 18:34] #34 closed

[2016-11-26 23:49] neurosnap commented on #66
So even though the noScope has been merged in csjs, csjs-injectify and csjs-extractify probably still need to be modified to be accommodated for this release to happen.

[2016-11-27 00:05] bcomnes commented on #66
I noticed this when trying to float a git dependency of HEAD.

[2016-11-27 22:59] tizmagik opened #67 "Status of CSJS?"
Hello @rtsao I just wanted to check in and see what the general plan and direction for CSJS is. We've noticed that it's been some time since the last release and there hasn't been any major new additions or developments into CSJS itself for some time.

Asking mainly from the perspective of [react-csjs](https://github.com/tizmagik/react-csjs), one of the options [we've have been looking into](https

[2016-11-28 00:10] rtsao commented on #67
I've been busy with other things lately so admittedly CSJS has been neglected a bit. Since the scoping configuration stuff is going to be a breaking change, I've delayed release until I can roll in some other changes.

I've just recently been doing some general cleanup and refactoring here: https://github.com/rtsao/csjs/tree/dev

For v2.0 I'm looking at:
- Cleanup/refactor codebase to make it easi

[2016-12-09 06:53] rtsao commented on #39
Investigate https://github.com/thysultan/stylis.js

[2016-12-20 01:20] serapath commented on #59
I'm not sure if it makes sense, but after reading about `styletron`, maybe a minimal version can be used for `csjs`? It seems styletron does those kind of things already according to your blog post.

[2016-12-20 01:52] serapath opened #68 ""observables" in csjs"
I just saw #61 and I like that #15 might be supported.

Do I understand correctly, that #61 might add some kind of runtime css parsing?

I'm not sure if necessary, but I was thinking, maybe some kind of runtime css parsing could help to add some form of "observable" primitiv, so that a css property would be auto-updated, whenever the observable variable changes.

The idea would be, that - maybe si

[2016-12-30 21:50] msn0 opened #69 "Scoped multi-valued animations"
Hi, I have a problem with scoped, multi-valued animations. Looks like it doesn't work as expected for me. For example the following code

[code]
will result in
[code]
Only the last animation-name is prefixed within a declaration value.

[2017-02-15 23:32] ungoldman commented on #66
:+1: would really like to use this feature without having to fork csjs 😓

[2017-02-15 23:34] rtsao commented on #66
Gah, I got sidetracked on other things. I'll release this later today.

I was planning a bigger refactor and integrating this into those breaking changes, but that is going to be further down the line.

[2017-02-16 18:13] rtsao commented on #66
Released as `v1.1.0`

[2017-02-16 18:13] #66 closed

[2017-02-16 18:22] ungoldman commented on #66
Yay! Thanks @rtsao 🎈

[2017-02-16 19:00] BenjaminVerble commented on #66
thanks @rtsao

[2017-08-21 19:42] colejd commented on #35
I ported @neurosnap's syntax highlighter to VS Code:

https://github.com/colejd/vscode-language-csjs

It's not totally done yet -- it seems that for highlighting JS-in-CSS-in-JS using a TextMate grammar like VS Code or Atom does, you basically need to copy the entire CSS grammar and figure out the places where a `${}` block might appear. If anyone knowledgeable about TextMate grammars stumbles on

[2017-09-02 11:57] #59 closed

[2018-08-17 03:51] #35 closed